// TypingAnimation.scss
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

.typing-animation {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 6vw;
  font-style: normal;
  line-height: 108%;
  color: #fff;
  text-align: center;
  align-self: center;
  width: 70%;
  margin: 0;
}
