.container {
  width: 100%;
  height: 28vh;
  background: #0540f2;
  color: #fff;

  .mainContent {
    padding: 3vh 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .col1 {
      display: flex;
      flex-direction: column;

      .title {
        font-family: "Abhaya Libre", sans-serif;
        font-weight: 400;
        font-size: 2.4vw;
        margin: 0;
      }
      .subtitle {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 1.2vw;
      }
    }

    .col2 {
      display: flex;
      flex-direction: column;

      .title {
        font-family: "Abhaya Libre", sans-serif;
        font-weight: 400;
        font-size: 1.15vw;
      }

      .subtitle {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 0.8vw;
        text-decoration: none;
        color: #fff;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}
